desktop.ini
1st*Semester/Requirements*Engineering/Assignments/hellocucumber/.idea
1st*Semester/Requirements*Engineering/Assignments/hellocucumber/target
1st*Semester/Requirements*Engineering/Assignments/hellocucumber/hellocucumber.iml
2nd*Semester/Methodologies*for*Software*Processes/Assignments/tip/out/
2nd*Semester/Methodologies*for*Software*Processes/Assignments/tip/.classpath
2nd*Semester/Methodologies*for*Software*Processes/Assignments/tip/.project
2nd*Semester/Methodologies*for*Software*Processes/Assignments/tip/.settings
2nd*Semester/Methodologies*for*Software*Processes/Assignments/tip/.idea/
2nd*Semester/Methodologies*for*Software*Processes/Assignments/tip/target
2nd*Semester/Methodologies*for*Software*Processes/Assignments/tip/project
2nd*Semester/Methodologies*for*Software*Processes/Assignments/tip/.DS_Store
