body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E4EBF4;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #202E5F;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ACB3C4;
    color: #202E5F;
  }
  
  .topnav a.active {
    background-color: #ACB3C4;
    color: #202E5F;
  }
  
  .topnav .icon {
    display: none;
  }
    
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }